<label class="bold">Rolls</label>
<ol class="items-list">
    <li>
        <div class="roll-grid">
            <label class="item-roll-label">Attack Roll</label>
            <input
                type="text"
                class=""
                name="system.rolls.attack"
                value="{{system.rolls.attack}}"
                data-dtype="String"
            />
        </div>
    </li>
    <li>
        <div class="roll-grid">
            <label class="item-roll-label">Damage</label>
            <input
                type="text"
                class=""
                name="system.rolls.damage"
                value="{{system.rolls.damage}}"
                data-dtype="String"
            />
        </div>
    </li>
</ol>
