.bold {
  font-weight: bold;
}

.fit-checkbox {
  width: auto;
  height: auto;
}

.roll-grid {
  display: grid;
  grid-template-columns: 20% auto;
  text-align: center;
  align-items: center;
}

.item-ammo {
  text-align: center;
}

.item-qty {
  text-align: center;
}