<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    

    {{!-- Attributes Tab --}}
    <div data-group="primary">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="bold">Spell Cost Self</label>
        <input type="text" name="system.spellCostSelf" value="{{system.spellCostSelf}}" data-dtype="Number"/>
        <label class="bold">Spell Cost Target</label>
        <input type="text" name="system.spellCostTarget" value="{{system.spellCostTarget}}" data-dtype="Number"/>
      </div>
    </div>
    <br>
    <div class="tab" data-group="primary">
      <label class="bold">Description</label>
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
